:root {
	--primary-color: red;
	--secondary-color: #ffffff;
	--accent-color: lightgray;
	
	--font: -apple-system, 'Segoe UI', 'Helvetica', sans-serif;

	--loading-time: 0.7s;
}

a {
	align-self: center;
}

body {
	background-color: #ffffff;
	transition: background-color var(--loading-time);
}

body.loading {
	background-color: red;
}

body.loading > img.poster,
body.loading > form {
	opacity: 0;
}

body.loading > img.loading {
	opacity: 1;
}

body > img.loading {
	opacity: 0;
}

button, body, input {
	font-family: var(--font);
}

button, input {
	margin-bottom: 8px;
	margin-top: 8px;
	min-height: 44px;
}

button[type="submit"] {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	color: var(--secondary-color);
	font-size: large;
}

footer {
	text-align: right;
}

form {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.separator {
	background-color: var(--primary-color);
	border-radius: 3px;
	margin-bottom: 16px;
	margin-top: 16px;
}

hr {
	margin: 20px auto 20px auto;
	width: 80%;
}

img {
	transition: opacity var(--loading-time) ease-in-out;
}

img.loading {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
}

@media (max-width: 600px) {
	img {
		max-width: 94vw;
	}
}

.icon {
	align-self: center;
	height: 100px;
	width:100px;
}

input {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--accent-color);
	padding-bottom: 0px;
}

input[type="file"] {
	display: none;
}

label {
	display: none;
}

select {
	margin-top: 16px;
	min-height: 30px;
}

textarea {
	margin-top: 16px;
}

#imageUpload {
	display: flex;
	flex-direction: inherit;
	align-content: center;
}

#imageUpload > button {
	background-color: var(--secondary-color);
	border: none;
	margin-top: 0px;
	min-height: 22px;
}

