:root {
	--primary-color: red;
	--secondary-color: #ffffff;
	--accent-color: lightgray;
	
	--font: -apple-system, 'Segoe UI', 'Helvetica', sans-serif;
}

body {
	font-family: var(--font);
}

button, input {
	margin-bottom: 8px;
	margin-top: 8px;
	min-height: 44px;
}

button[type="submit"] {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	color: var(--secondary-color);
}

footer {
	text-align: right;
}

form {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

input {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--accent-color);
	padding-bottom: 0px;
}

label {
	display: none;
}
